
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
HTML {
    height: 100%;
    width: 100%;
    background-image: url(./bgc2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
.contacts {
    position: relative;
    color: white;
    bottom: -60px;
    right: -11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    
}
span {
    position: relative;
    left: 33%;
}

.menu {
    display: flex;
    margin-top: 22%;
    width: 94%;
    height: 30px;
    margin-left: 3%;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    
    
    
  }
  .box1 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-color: white;
    
    
  }
  .box2 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-color: white;
  }
  .box3 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-color: white;
  }
  .box4 {
    width: 25%;
    height: 100%;
   
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-color: white;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 450px;
   
  }
  button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 40%;
    height: 35px;
    background-color: #998431;
    margin: 2%;
  }


  button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  }
  button:focus {
    color: rgb(233, 62, 62);
  }
 .box1:hover,
 .box2:hover,
 .box3:hover,
 .box4:hover {
    color: rgb(85, 191, 240);
    transition: 0.8s ease-in-out;
 }
 p {
    margin: 3.2px;
 }
 .box1-content p:hover,
 .box2-content p:hover,
 .box3-content p:hover {
    color: rgb(244, 65, 5);
    transition: 0.4s;
 }
 .box1-content {
     position: absolute;
     z-index: 1;
     margin: 2%;
     left: 5.5%;
     display: none;
     color: white;
 }
.box2-content {
    position: absolute;
     z-index: 1;
     margin: 2%;
     left: 27%;
     color: white;
     display: none;
}
.box3-content {
    position: absolute;
     z-index: 1;
     margin: 2%;
     left: 53%;
     color: white;
     display: none;
     
}
 .box1:hover .box1-content {
    display: block;
    animation: slow 0.7s ease-in-out;
}
.box2:hover .box2-content {
    display: block;
    animation: slow 0.7s ease-in-out;
}

.box3:hover .box3-content {
    display: block;
    animation: slow 0.7s ease-in-out;
}
@keyframes slow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}