
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
HTML {
    height: 100%;
    width: 100%;
    background-image: url(./bgc2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts {
    position: relative;
    color: white;
    bottom: -60px;
    right: -11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
}
span {
    position: relative;
    right: -130px;
}

.menu {
    display: flex;
    margin-top: 20%;
    width: 94%;
    height: 30px;
    margin-left: 3%;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    
    
    
  }
  .box1 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-color: white;
    
    
  }
  .box2 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-color: white;
  }
  .box3 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-color: white;
  }
  .box4 {
    width: 25%;
    height: 100%;
   
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-color: white;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 450px;
   
  }
  button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 40%;
    height: 35px;
    background-color: #998431;
    margin: 2%;
  }


  button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  }
  button:focus {
    color: rgb(233, 62, 62);
  }